* {
box-sizing: border-box;
}

h1{
	margin: 0;
	padding: 5px;
	text-align: center;
	font-size: 500%; 
	font-family: "Caveat", cursive;
	text-align: center; 
	color: whitesmoke; 
}

p{
	font-family: 'Nanum Myeongjo', serif;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 10px; 
	color: whitesmoke; 
	font-size: 140%; 
	text-align: center;
}

body{
	margin: 0;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: none;
	font-family: 'Karla', sans-serif;
}

ul li a {
	float: right;
	text-align: center;
	font-size: 100%;
	display: block;
	color: white;
	padding: 5px;
	text-decoration: none;
}

a:link {
	color: white;
	background-color: transparent;
	text-decoration: none;
}

a:hover, a:active{
	color: darkgray;
	background-color: transparent;
	text-decoration: underline;
	cursor: hover;
}

.button{
	display: block;
	position: absolute;
	font-size: 200%;
	text-align: center;
	top: 50%;
	width: 100%;
	bottom: 50%;
	opacity:0;
}

img:hover + .button,.button:hover{
	opacity: 100%;
}

img{
	border: 3px solid ghostwhite;
	padding-block: 2%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:80%;
	height:80%;
	}

img:hover {
	filter: blur(3px);
	transition: all 1s ease;
	cursor: hover;
}

.container{
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
}

.button{
	display: block;
	position: absolute;
	font-size: 200%;
	text-align: center;
	top: 50%;
	width: 100%;
	bottom: 50%;
	opacity:0;
}

.container:hover img:not(:hover){
	filter: blur(3px);
}